body, html{
  height:100%;
  margin-top:0;
  margin-left: 0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3,.pimg4{
  position:relative;
  opacity:0.80;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image12.jpg');
  min-height:100vh;
}

.pimg2{
  background-image:url('../img/image5.jpg');
  min-height:450px;
}

.pimg3{
  background-image:url('../img/image9.jpg');
  min-height:450px;
}

.pimg4{
  background-image:url('../img/image11.jpg');
  min-height:100vh;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#ddd;
  color:#282e34;
  opacity: 0.90;
  
}

.section-dark{
  background-color:white;
  color:#ddd;
  opacity: 0.80;
  padding: 60px;
}

.ptext{
  top: 50%;
  position:absolute;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border,.prob{
  background-color:#111;
  color: white;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-md-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.col {
  flex: 1 0 0%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:#000;
  background-clip: border-box;
  border-radius: 10px;
}

.card-img-top {
  width: 100%;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  color:ghostwhite;
  margin-bottom: 0.5rem;
  font-family:"Lato", sans-serif;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:600;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-text{
  color: ghostwhite;
  font-family:"Lato", sans-serif;
}


.resultContainer {
  margin-top: 38px;
}

.generateTable {
  margin-top: 16px;
}

.input-group{
  margin-top: 8px;
}

#table {
  margin-top: 16px;
}

h1{
  font-weight: bolder;
  /* color: rgb(112, 112, 112); */
}

h4 {
  margin-top: 48px;
  color: darkgray;
}

h2,#kcap{
  font-size: 38px;
  color: white;
  font-family: sans-serif - 400;
}

.result {
  margin-top: 12px;
  visibility: hidden;
}

#knapsackTable{
  font-weight: bold;
  color: rgb(90, 113, 128);
}

#resultContainer1{
  height: 0;
}

.pimg1{
  opacity: 1;
}
.grad{
  left: 41.93%;
  font-weight: 600;
  top: 2px;
  font-size: 85px;
  background: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}
.gradq,.gradqq{
  left: 41.93%;
  font-weight: 600;
  font-size: 85px;
  background: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 65%;
}
.gradqq{
  top: 130%;
}
.grad4,.grad5,.grad6,
.grad7,.grad8,
.grad10,.grad11,.gradx,.grady, .gradz{
  background: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grad2,.grad3{
  height: 65px;
  background-color: black;
}

.black{
  color: #000;
}
.prob{
  font-weight: 600;
}
#capacity,#rows,.genr{
  width: 400px;
  height: 60px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 15px 15px 5px black;
}
.genr,#butt{
  width: 250px;
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 10px;
  box-shadow: 8px 8px 5px black;
  border-radius: 8px;
}
#butt{
  box-shadow: 8px 8px 5px black;
  margin-top: 15px;
  height: 50px;
  width: 180px;
}
.mrg1{
  margin-left: 425px;
  font-family:sans-serif - 400;
}
.grad4,.grad5,.grad6{
  font-size: 25px;
}
.grad5{
  font-weight: 500;
}

.rad{
  border: 1rem solid black;
  font-family:"Lato", sans-serif;
}

.card2{
  margin-top: 15px;
}
.grady{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.gradz{
  font-weight: 500;
}

.bgc{
  background-color:#666;
}
.xxx{
  margin-top: 8px;
  margin-bottom: 8px;
}
.white{
  color: white;
}
.last{
  height: 90px;
}
.grp{
  bottom: 10px;
}
.flx{
  display: flex;
  justify-content: center;
}
.bgcb{
  background-color:skyblue;
}

